### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count number of unique players and store the value
total_players = purchase_data['SN'].nunique()

# Put value in new data frame
total_players_df = pd.DataFrame({'Total Players': [total_players]})

# Show dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Count number of unique items
number_of_unique_items = purchase_data['Item ID'].nunique()
number_of_unique_items

179

In [4]:
# Calculate average price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [5]:
# Count number of purchases
number_of_purchases = purchase_data['Purchase ID'].count()
number_of_purchases

780

In [6]:
# Calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
# Create new data frame to hold calculated values
total_purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [number_of_unique_items],
                                             'Average Price': [average_price],
                                             'Number of Purchases': [number_of_purchases],
                                             'Total Revenue': [total_revenue]})

# Change formatting of Average Price
total_purchasing_analysis_df["Average Price"] = total_purchasing_analysis_df["Average Price"].astype(float).map(
    "${:,.2f}".format)

# Change formatting of Total Revenue
total_purchasing_analysis_df["Total Revenue"] = total_purchasing_analysis_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)

# Display data frame
total_purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Data frame of SN and Gender (with duplicates)
SN_Gender_with_duplicates_df = purchase_data[["SN", "Gender"]]

# Remove duplicates
SN_Gender_df = SN_Gender_with_duplicates_df.drop_duplicates()

# Drop SN column
Unique_Gender_df = SN_Gender_df.drop(columns = ['SN'])

# Confirm count matches Total Players
Unique_Gender_df.count()

Gender    576
dtype: int64

In [10]:
# Calculate number of male players
SN_male = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Male", :]
number_of_males = SN_male['Gender'].count()
number_of_males

484

In [11]:
# Calculate percentage of male players
percentage_of_males = number_of_males / total_players
percentage_of_males

0.8402777777777778

In [12]:
# Calculate number of female players
SN_female = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Female", :]
number_of_females = SN_female['Gender'].count()
number_of_females

81

In [13]:
# Calculate percentage of female players
percentage_of_females = number_of_females / total_players
percentage_of_females

0.140625

In [14]:
# Calculate number of other/non-disclosed players
SN_others = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Other / Non-Disclosed", :]
number_of_others = SN_others['Gender'].count()
number_of_others

11

In [15]:
# Calculate percentage of other/non-disclosed players
percentage_of_others = number_of_others / total_players
percentage_of_others

0.019097222222222224

In [16]:
# Create new data frame to hold calculated values (multiplying percentage values by 100 to prepare for change to percentage 
# format)
gender_data = {'Total Count': [number_of_males, number_of_females, number_of_others],
                            'Percentage of Players': [percentage_of_males*100, percentage_of_females*100, 
                                                      percentage_of_others*100]}
gender_demographics_df = pd.DataFrame(gender_data, index = ['Male', 'Female', 'Other/Non-Disclosed'])

# Change Percentage of Players column formatting to percentage
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

# Display data frame
gender_demographics_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
# Make new dataframe of just necessary columns
gender_purchasing_raw_df = purchase_data[['Purchase ID', 'SN', 'Gender', 'Price']]

# Use groupby to sort by genders
gender_purchasing_df = gender_purchasing_raw_df.groupby(['Gender'])

In [19]:
# Use groupby object to count purchases of each gender
gender_purchase_count = gender_purchasing_df['Purchase ID'].count()
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
# Use groupby object to find average purchase price of each gender
gender_average_purchase_price = gender_purchasing_df['Price'].mean()
gender_average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
# Use groupby object to find total purchases of each gender
gender_total_purchase_value = gender_purchasing_df['Price'].sum()
gender_total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
# Use groupby object to find players of each gender (yes this is a repeat calculation of info we already found)
players_of_each_gender = gender_purchasing_df['SN'].nunique()

# Use groupby objects to find avg total purchase of each player, sorted by gender
gender_avg_total_purchase_per_person = gender_total_purchase_value / players_of_each_gender
gender_avg_total_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
# Create new dataframe to summarize info we found
gender_purchasing_summary_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                             "Average Purchase Price": gender_average_purchase_price,
                                             "Total Purchase Value": gender_total_purchase_value,
                                             "Avg Total Purchase per Person": gender_avg_total_purchase_per_person})

# Change formatting for the monetary columns
gender_purchasing_summary_df["Average Purchase Price"] = gender_purchasing_summary_df["Average Purchase Price"].astype(
    float).map("${:,.2f}".format)
gender_purchasing_summary_df["Total Purchase Value"] = gender_purchasing_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)
gender_purchasing_summary_df["Avg Total Purchase per Person"] = gender_purchasing_summary_df["Avg Total Purchase per Person"].astype(
    float).map("${:,.2f}".format)

# Display summary information
gender_purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
# Check highest age
purchase_data['Age'].max()

45

In [26]:
# Create bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [27]:
# Copy original dataset to create modifications
purchase_data_with_age_bins_df = purchase_data.copy()

# Cut and bin the data
purchase_data_with_age_bins_df["Age Group"] = pd.cut(purchase_data_with_age_bins_df["Age"], bins, labels=labels)

purchase_data_with_age_bins_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
# Drop duplicate entries of SN so we only have complete dataset of only unique players
purchase_data_with_age_bins_only_players_df = purchase_data_with_age_bins_df.drop_duplicates(subset='SN')

# Drop unnecessary columns to be only Age
player_ages_df = purchase_data_with_age_bins_only_players_df.drop(['Purchase ID', 'SN', 'Gender', 'Item ID', 'Item Name',
                                                                   'Price'], axis=1)

# Groupby age group
age_group_df = player_ages_df.groupby("Age Group")

In [29]:
# Count how many players in each age group
count_of_each_age_group = age_group_df["Age"].count()
count_of_each_age_group

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [30]:
# Calculate percentage of players in each age group
percentage_of_players_in_each_age_group = count_of_each_age_group / total_players
percentage_of_players_in_each_age_group

Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age, dtype: float64

In [31]:
# Create new dataframe to summarize info we found (Percentage of Players is multiplied by 100)
age_demographics_summary_df = pd.DataFrame({"Total Count": count_of_each_age_group,
                                             "Percentage of Players": percentage_of_players_in_each_age_group*100})

# Change Percentage of Players column formatting to percentage
age_demographics_summary_df["Percentage of Players"] = age_demographics_summary_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

# Display data frame
age_demographics_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
purchase_data_with_age_bins_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [33]:
# Make new dataframe of just necessary columns
age_purchasing_df = purchase_data_with_age_bins_df[['Purchase ID', 'Price', 'Age Group']]

# Use groupby to sort by age group
age_purchasing_in_age_groups = age_purchasing_df.groupby("Age Group")
age_purchasing_in_age_groups.count()

           Purchase ID  Price
Age Group
<10                 23     23
10-14               28     28
15-19              136    136
20-24              365    365
25-29              101    101
30-34               73     73
35-39               41     41
40+                 13     13

In [34]:
# Use groupby object to find purchase count of each age group
age_purchase_count = age_purchasing_in_age_groups["Purchase ID"].count()
age_purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [35]:
# Use groupby object to find average purchase price of each age group
age_average_purchase_price = age_purchasing_in_age_groups["Price"].mean()
age_average_purchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [36]:
# Use groupby object to find total purchases of each age group
age_total_purchase_value = age_purchasing_in_age_groups["Price"].sum()
age_total_purchase_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [37]:
# Use groupby objects to find avg total purchase of each player, sorted by age group
age_avg_total_purchase_per_person = age_total_purchase_value / count_of_each_age_group
age_avg_total_purchase_per_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [38]:
# Create new dataframe to summarize info we found
age_purchasing_summary_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                                             "Average Purchase Price": age_average_purchase_price,
                                             "Total Purchase Value": age_total_purchase_value,
                                             "Avg Total Purchase per Person": age_avg_total_purchase_per_person})

# Change formatting for the monetary columns
age_purchasing_summary_df["Average Purchase Price"] = age_purchasing_summary_df["Average Purchase Price"].astype(
    float).map("${:,.2f}".format)
age_purchasing_summary_df["Total Purchase Value"] = age_purchasing_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)
age_purchasing_summary_df["Avg Total Purchase per Person"] = age_purchasing_summary_df["Avg Total Purchase per Person"].astype(
    float).map("${:,.2f}".format)

# Display summary information
age_purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
# Create new dataframe of just relevant columns (individual SNs and price of each purchase)
player_price_df = purchase_data[['SN', 'Price']]

# Use groupby to sort prices of each player
player_price_grouped = player_price_df.groupby("SN")

In [41]:
player_purchase_count = player_price_grouped["Price"].count()
player_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [42]:
player_average_purchase_price = player_price_grouped["Price"].mean()
player_average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [43]:
player_total_purchase_value = player_price_grouped["Price"].sum()
player_total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [44]:
# Create new dataframe to summarize info we found
top_spenders_summary_unsorted_df = pd.DataFrame({"Purchase Count": player_purchase_count,
                                                 "Average Purchase Price": player_average_purchase_price,
                                                 "Total Purchase Value": player_total_purchase_value})

# Sort summary data frame by total purchase value in descending order
top_spenders_summary_df = top_spenders_summary_unsorted_df.sort_values("Total Purchase Value", ascending=False)

# Change formatting for the monetary columns
top_spenders_summary_df["Average Purchase Price"] = top_spenders_summary_df["Average Purchase Price"].astype(
    float).map("${:,.2f}".format)
top_spenders_summary_df["Total Purchase Value"] = top_spenders_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)

# Display summary information
top_spenders_summary_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [46]:
# Make dataframe of only relevant rows
most_popular_items_raw_df = purchase_data[['Item ID', 'Item Name', 'Price']]
most_popular_items_raw_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [47]:
# Use groupby to sort items by item ID and item name
most_popular_items_grouped = most_popular_items_raw_df.groupby(['Item ID', 'Item Name'])

In [48]:
# Calculate purchase count of each item
most_popular_items_purchase_count = most_popular_items_grouped['Price'].count()
most_popular_items_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [49]:
# Calculate average item price
most_popular_items_average_item_price = most_popular_items_grouped['Price'].mean()
most_popular_items_average_item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [50]:
# Calculate total purchase value of each item
most_popular_items_total_purchase_value = most_popular_items_grouped['Price'].sum()
most_popular_items_total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [51]:
# Create new dataframe to summarize info we found
most_popular_items_summary_unsorted_df = pd.DataFrame({"Purchase Count": most_popular_items_purchase_count,
                                                 "Average Item Price": most_popular_items_average_item_price,
                                                 "Total Purchase Value": most_popular_items_total_purchase_value})

# Sort summary data frame by purchase count in descending order
most_popular_items_summary_df = most_popular_items_summary_unsorted_df.sort_values("Purchase Count", ascending=False)

# Change formatting for the monetary columns
most_popular_items_summary_df["Average Item Price"] = most_popular_items_summary_df["Average Item Price"].astype(
    float).map("${:,.2f}".format)
most_popular_items_summary_df["Total Purchase Value"] = most_popular_items_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)

# Display summary 
most_popular_items_summary_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [55]:
# Sort summary data frame by total purchase value in descending order
most_popular_items_summary_df = most_popular_items_summary_unsorted_df.sort_values("Total Purchase Value", ascending=False)

# Change formatting for the monetary columns
most_popular_items_summary_df["Average Item Price"] = most_popular_items_summary_df["Average Item Price"].astype(
    float).map("${:,.2f}".format)
most_popular_items_summary_df["Total Purchase Value"] = most_popular_items_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)

# Display summary information
most_popular_items_summary_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80