### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count number of unique players and store the value
total_players = purchase_data['SN'].nunique()

# Put value in new data frame
total_players_df = pd.DataFrame({'Total Players': [total_players]})

# Show dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Count number of unique items
number_of_unique_items = purchase_data['Item ID'].nunique()
number_of_unique_items

179

In [4]:
# Calculate average price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [5]:
# Count number of purchases
number_of_purchases = purchase_data['Purchase ID'].count()
number_of_purchases

780

In [6]:
# Calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
# Create new data frame to hold calculated values
total_purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [number_of_unique_items],
                                             'Average Price': [average_price],
                                             'Number of Purchases': [number_of_purchases],
                                             'Total Revenue': [total_revenue]})

# Change formatting of Average Price
total_purchasing_analysis_df["Average Price"] = total_purchasing_analysis_df["Average Price"].astype(float).map(
    "${:,.2f}".format)

# Change formatting of Total Revenue
total_purchasing_analysis_df["Total Revenue"] = total_purchasing_analysis_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)

# Display data frame
total_purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Data frame of SN and Gender (with duplicates)
SN_Gender_with_duplicates_df = purchase_data[["SN", "Gender"]]

# Remove duplicates
SN_Gender_df = SN_Gender_with_duplicates_df.drop_duplicates()

# Drop SN column
Unique_Gender_df = SN_Gender_df.drop(columns = ['SN'])

# Confirm count matches Total Players
Unique_Gender_df.count()

Gender    576
dtype: int64

In [10]:
# Calculate number of male players
SN_male = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Male", :]
number_of_males = SN_male['Gender'].count()
number_of_males

484

In [11]:
# Calculate percentage of male players
percentage_of_males = number_of_males / total_players
percentage_of_males

0.8402777777777778

In [12]:
# Calculate number of female players
SN_female = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Female", :]
number_of_females = SN_female['Gender'].count()
number_of_females

81

In [13]:
# Calculate percentage of female players
percentage_of_females = number_of_females / total_players
percentage_of_females

0.140625

In [14]:
# Calculate number of other/non-disclosed players
SN_others = SN_Gender_df.loc[SN_Gender_df["Gender"] == "Other / Non-Disclosed", :]
number_of_others = SN_others['Gender'].count()
number_of_others

11

In [15]:
# Calculate percentage of other/non-disclosed players
percentage_of_others = number_of_others / total_players
percentage_of_others

0.019097222222222224

In [16]:
# Create new data frame to hold calculated values (multiplying percentage values by 100 to prepare for change to percentage 
# format)
gender_data = {'Total Count': [number_of_males, number_of_females, number_of_others],
                            'Percentage of Players': [percentage_of_males*100, percentage_of_females*100, 
                                                      percentage_of_others*100]}
gender_demographics_df = pd.DataFrame(gender_data, index = ['Male', 'Female', 'Other/Non-Disclosed'])

# Change Percentage of Players column formatting to percentage
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

# Display data frame
gender_demographics_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
# Make new dataframe of just necessary columns
gender_purchasing_raw_df = purchase_data[['Purchase ID', 'SN', 'Gender', 'Price']]

# use groupby to sort by genders
gender_purchasing_df = gender_purchasing_raw_df.groupby(['Gender'])

In [19]:
# Use groupby object to count purchases of each gender
gender_purchase_count = gender_purchasing_df['Purchase ID'].count()
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
# Use groupby object to find average purchase price of each gender
gender_average_purchase_price = gender_purchasing_df['Price'].mean()
gender_average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
# Use groupby object to find total purchases of each gender
gender_total_purchase_value = gender_purchasing_df['Price'].sum()
gender_total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
# Use groupby object to find players of each gender (yes this is a repeat calculation of info we already found)
players_of_each_gender = gender_purchasing_df['SN'].nunique()

# Use groupby objects to find avg total purchase of each player, sorted by gender
gender_avg_total_purchase_per_person = gender_total_purchase_value / players_of_each_gender
gender_avg_total_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
# Create new dataframe to summarize info we found
gender_purchasing_summary_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                             "Average Purchase Price": gender_average_purchase_price,
                                             "Total Purchase Value": gender_total_purchase_value,
                                             "Avg Total Purchase per Person": gender_avg_total_purchase_per_person})

# Change formatting for the monetary columns
gender_purchasing_summary_df["Average Purchase Price"] = gender_purchasing_summary_df["Average Purchase Price"].astype(
    float).map("${:,.2f}".format)
gender_purchasing_summary_df["Total Purchase Value"] = gender_purchasing_summary_df["Total Purchase Value"].astype(
    float).map("${:,.2f}".format)
gender_purchasing_summary_df["Avg Total Purchase per Person"] = gender_purchasing_summary_df["Avg Total Purchase per Person"].astype(
    float).map("${:,.2f}".format)

# Display summary information
gender_purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
# Check highest age
purchase_data['Age'].max()

45

In [26]:
# Create bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [27]:
# Copy original dataset to create modifications
purchase_data_with_age_bins_df = purchase_data.copy()

# Cut and bin the data
purchase_data_with_age_bins_df["Age Group"] = pd.cut(purchase_data_with_age_bins_df["Age"], bins, labels=labels)

purchase_data_with_age_bins_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
# Drop duplicate entries of SN so we only have complete dataset of only unique players
purchase_data_with_age_bins_only_players_df = purchase_data_with_age_bins_df.drop_duplicates(subset='SN')

# Drop unnecessary columns to be only Age
player_ages_df = purchase_data_with_age_bins_only_players_df.drop(['Purchase ID', 'SN', 'Gender', 'Item ID', 'Item Name',
                                                                   'Price'], axis=1)

# Groupby age group
age_group_df = player_ages_df.groupby("Age Group")

In [29]:
# Count how many players in each age group
count_of_each_age_group = age_group_df["Age"].count()
count_of_each_age_group

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [30]:
# Calculate percentage of players in each age group
percentage_of_players_in_each_age_group = count_of_each_age_group / total_players
percentage_of_players_in_each_age_group

Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age, dtype: float64

In [31]:
# Create new dataframe to summarize info we found (Percentage of Players is multiplied by 100)
age_demographics_summary_df = pd.DataFrame({"Total Count": count_of_each_age_group,
                                             "Percentage of Players": percentage_of_players_in_each_age_group*100})

# Change Percentage of Players column formatting to percentage
age_demographics_summary_df["Percentage of Players"] = age_demographics_summary_df["Percentage of Players"].astype(float).map(
    "{:,.2f}%".format)

# Display data frame
age_demographics_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame